body {
  background: #f2f2f2;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

.acc-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #232F3E;
  color: white;
  text-align: center;
  padding: 15px;
}

.account-box {
  background: white;
  padding: 20px;
  margin-top: 80px;
  width: 300px;
  border-radius: 8px;
}

.btn {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #FF9900;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.logout {
  background: #e60000;
  color: white;
}
